<div *ngIf="phone">
    <h2>Details</h2>
	    <li>{{phone.phonepicture}}</li>
	    <li>{{phone.model}}</li>
        <li>{{phone.technology}}</li>
        <li>{{phone.announced}}</li>
        <li>{{phone.status}}</li>
        <li>{{phone.dimensions}}</li>
        <li>{{phone.weight}}</li> 
        <li>{{phone.sim}}</li>
        <li>{{phone.displayType}}</li>
        <li>{{phone.displaySize}}</li>
        <li>{{phone.displayResolution}}</li>
        <li>{{phone.multitouch}}</li>
        <li>{{phone.os}}</li>
        <li>{{phone.chipset}}</li>
        <li>{{phone.cpu}}</li>
        <li>{{phone.gpu}}</li>
        <li>{{phone.cardslot}}</li>
        <li>{{phone.internalMemory}}</li>
        <li>{{phone.primaryCamera}}</li>
        <li>{{phone.cameraFeatures}}</li>
        <li>{{phone.video}}</li>
        <li>{{phone.secondaryCamera}}</li>
        <li>{{phone.alertTypes}}</li>
        <li>{{phone.loudspeaker}}</li>
        <li>{{phone.audiojack}}</li>
        <li>{{phone.wlan}}</li>
        <li>{{phone.bluetooth}}</li>
        <li>{{phone.gps}}</li>
        <li>{{phone.nfc}}</li>
        <li>{{phone.radio}}</li>
        <li>{{phone.usb}}</li>
        <li>{{phone.sensors}}</li>
        <li>{{phone.messaging}}</li>
        <li>{{phone.browser}}</li>
        <li>{{phone.battery}}</li>
        <li>{{phone.colors}}</li>
        <li>{{phone.price}}</li>
</div>

  
       