<div class = "container">
	<h2 class = "page-header"> Add Phone</h2>
	<form (submit) = "addPhone()">
		<div class = "form-group">
			<label>Image</label>
			<input type="text" [(ngModel)] = "phonepicture" name ="phonepicture" class = "form-control">
		</div>
		<div class = "form-group">
			<label>Model</label>
			<input type="text" [(ngModel)] = "model" name ="model" class = "form-control">
		</div>
		<div class = "form-group">
			<label>Technology</label>
			<input type="text" [(ngModel)] = "technology" name ="technology" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Announced</label>
			<input type="text" [(ngModel)] = "announced" name ="announced" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Status</label>
			<input type="text" [(ngModel)] = "status" name ="status" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Dimension</label>
			<input type="text" [(ngModel)] = "dimensions" name ="dimensions" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Weight</label>
			<input type="text" [(ngModel)] = "weight" name ="weight" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Sim</label>
			<input type="text" [(ngModel)] = "sim" name ="sim" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Display Type</label>
			<input type="text" [(ngModel)] = "displayType" name ="displayType" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Display Size</label>
			<input type="text" [(ngModel)] = "displaySize" name ="displaySize" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Display Resolution</label>
			<input type="text" [(ngModel)] = "displayResolution" name ="displayResolution" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Multitouch</label>
			<input type="text" [(ngModel)] = "multitouch" name ="multitouch" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>OS</label>
			<input type="text" [(ngModel)] = "os" name ="os" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Chipset</label>
			<input type="text" [(ngModel)] = "chipset" name ="chipset" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>CPU</label>
			<input type="text" [(ngModel)] = "cpu" name ="cpu" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>GPU</label>
			<input type="text" [(ngModel)] = "gpu" name ="gpu" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Cardsolt</label>
			<input type="text" [(ngModel)] = "cardsolt" name ="cardsolt" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Internam Memory</label>
			<input type="text" [(ngModel)] = "internalMemory" name ="internalMemory" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Primary Camera</label>
			<input type="text" [(ngModel)] = "primaryCamera" name ="primaryCamera" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Camera Features</label>
			<input type="text" [(ngModel)] = "cameraFeatures" name ="cameraFeatures" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Video</label>
			<input type="text" [(ngModel)] = "video" name ="video" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Secondary Camera</label>
			<input type="text" [(ngModel)] = "secondaryCamera" name ="secondaryCamera" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Alert Types</label>
			<input type="text" [(ngModel)] = "alertTypes" name ="alertTypes" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Loudspeaker</label>
			<input type="text" [(ngModel)] = "loudspeaker" name ="loudspeaker" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Audio Jack</label>
			<input type="text" [(ngModel)] = "audiojack" name ="audiojack" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Wlan</label>
			<input type="text" [(ngModel)] = "wlan" name ="wlan" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Bluetooth</label>
			<input type="text" [(ngModel)] = "bluetooth" name ="bluetooth" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>GPS</label>
			<input type="text" [(ngModel)] = "gps" name ="gps" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>NFC</label>
			<input type="text" [(ngModel)] = "nfc" name ="nfc" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Radio</label>
			<input type="text" [(ngModel)] = "radio" name ="radio" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>USB</label>
			<input type="text" [(ngModel)] = "usb" name ="usb" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Sensor</label>
			<input type="text" [(ngModel)] = "sensors" name ="sensors" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Messaging</label>
			<input type="text" [(ngModel)] = "messaging" name ="messaging" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Browser</label>
			<input type="text" [(ngModel)] = "browser" name ="browser" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Battery</label>
			<input type="text" [(ngModel)] = "battery" name ="battery" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Colors</label>
			<input type="text" [(ngModel)] = "colors" name ="colors" class = "form-control" required>
		</div>
		<div class = "form-group">
			<label>Price</label>
			<input type="text" [(ngModel)] = "price" name ="price" class = "form-control" required>
		</div>
		<input type="submit" class ="btn btn-success" value = "Add">
	</form>
</div>
<hr>
<div class = "container">
	<div *ngFor = "let phone of phones">
		<div class = "col-md-3">
			{{phone.model}}
		</div>
		<div class = "col-md-3">
			{{phone.phonepicture}}
		</div>
		<div class = "col-md-3">
			{{phone.price}}
		</div>
		<div class = "col-md-3">
			<input type="button" (click) = "deletePhone(phone._id)" value= "Delete" class ="btn btn-danger">
			<br><br>
		</div>
	</div>
</div>
